/*body {
    background-color: black;
    color: lightgray;
    
}*/

/*#ai-cancel-btn {
    
    background-color: rgb(255,255,255);
    color: rgb(0,0,0);
}*/

.doc-hit {
    color: black;
}

:root {
    color-scheme: dark;
}